# OpenAI Configuration
OPENAI_API_KEY=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

# Vercel Configuration
VERCEL_TOKEN=HSGAQNM377nFybibIm8tHxNO

# Hyperliquid Configuration
IS_TESTNET=false

# NEAR Intents API
NEAR_INTENTS_API_URL=https://near-api-4kbh.onrender.com

# Server Configuration
PORT=3000
NODE_ENV=development